<div class="container">
  <app-navbar> </app-navbar>
  <div class="left-part">
      <button mat-mini-fab id="nav-left-button" [matMenuTriggerFor]="menu1">
        <i class="material-icons" style="font-size:18px;">more_vert</i>
      </button>
      <mat-menu #menu1="matMenu">
          <button  mat-menu-item>Add</button>
          <button (click)="onClickView()" mat-menu-item>View</button>
          <button mat-menu-item>Modify</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      <h4>{{ title }}</h4>
    </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> code </th>
      <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="codeSystem">
      <th mat-header-cell *matHeaderCellDef> codeSystem </th>
      <td mat-cell *matCellDef="let element"> {{ element.codeSystem }} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="medicinalProductName">
      <th mat-header-cell *matHeaderCellDef> medicinalProductName </th>
      <td mat-cell *matCellDef="let element"> {{ element.medicinalProductName }} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef> price </th>
        <td mat-cell *matCellDef="let element"> {{ element.manufacturer.manufacturerName }} </td>
      </ng-container>
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="getRecord(row)"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[15, 20, 25]" showFirstLastButtons></mat-paginator>
</div>
