<div class="container">
  <app-navbar title=""></app-navbar>
  <mat-tab-group color="primary" backgroundColor="primary">
    <mat-tab label="Medicinal Product Information">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>
          <mat-card-header>
            <div class="header">
              <div class="left">
                <mat-card-title>
                  <h2>{{ medicinalProduct?.medicinalProductName }}</h2>
                </mat-card-title>
                <mat-card-subtitle>{{ medicinalProduct?.manufacturer?.manufacturerName }}
                </mat-card-subtitle>
              </div>
              <div class="right">
                <button value="validate">validate</button>
              </div>
            </div>
          </mat-card-header>
          <div>
            <mat-card class="colored">
              <mat-card-title class="title">
                Medicinal Product infos</mat-card-title>
              <div class="header">
                <mat-card class="left">
                  <label>
                    <strong> Medicinal product Infohos Item Code: </strong>
                    {{ medicinalProduct?.code }}
                  </label>
                  <br />
                  <label>
                    <strong> Medicinal product Name: </strong>
                    {{ medicinalProduct?.medicinalProductName }}
                  </label>
                  <br />
                  <label>
                    <strong> System source: </strong>
                    {{ medicinalProduct?.codeSystem }}
                  </label>
                </mat-card>
                <mat-divider [vertical]="true"></mat-divider>
                <mat-card class="right">
                  <div class="content">
                    <label>
                      <strong> {{medicinalProduct?.marketingAct.code}}: </strong>
                      {{medicinalProduct?.marketingAct.statusCode}}
                    </label>
                    <br>
                    <label>
                      <strong> System Source: </strong>
                      {{medicinalProduct?.marketingAct.codeSystem}}
                    </label>
                    <br>

                    <label *ngIf="medicinalProduct?.marketingAct.effectiveTimeLow != null">
                      <strong> from: </strong>
                      {{medicinalProduct?.marketingAct.effectiveTimeLow}}
                    </label>
                    <br>
                    <label *ngIf="medicinalProduct?.marketingAct.effectiveTimeHeigh != null">
                      <strong> to: </strong>
                      {{medicinalProduct?.marketingAct.effectiveTimeHeigh}}
                    </label>
                    <br>
                  </div>
                </mat-card>
              </div>
              <br />
            </mat-card>
          </div>
          <br />
          <div>
            <mat-card class="colored">
              <mat-card-title class="title">
                Medicinal product Categories
              </mat-card-title>
              <mat-expansion-panel *ngFor="
              let kind of medicinalProduct?.asContent
                ?.containerPackagedProduct?.asSpecializedKinds
            ">
                <mat-expansion-panel-header>
                  <mat-panel-title> {{ kind.displayName }} </mat-panel-title>
                  <mat-panel-description>
                    <strong> System Source:</strong>
                    {{ kind.codeSystem }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="categories">
                  <div *ngIf="kind.code == 'ATC'">
                    <div class="">
                      <h4>
                        <strong>code: </strong>{{ kind.generalizedMaterialKind.code }}</h4>
                    </div>
                    <div class="">
                      <h4>
                        <strong> Name: </strong>{{ kind.generalizedMaterialKind.displayName }}</h4>
                    </div>
                  </div>
                </div>
                <div class="categories" *ngIf="kind.code == '1'">
                  <div class="">
                    <h4>
                      <strong>code: </strong>{{ kind.generalizedMaterialKind.code }}</h4>
                  </div>
                  <div class="">
                    <h4>
                      <strong> Name: </strong>{{ kind.generalizedMaterialKind.displayName }}</h4>
                  </div>
                </div>
                <div class="categories" *ngIf="kind.code == '4'">
                  <div class="">
                    <h4>
                      <strong>code: </strong>{{ kind.generalizedMaterialKind.code }}</h4>
                  </div>
                  <div class="">
                    <h4>
                      <strong> Name: </strong>{{ kind.generalizedMaterialKind.displayName }}</h4>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-card>
          </div>
          <br />
          <div>
            <mat-card class="my-card">
              <mat-card-title class="title"> Ingredients:</mat-card-title>
              <div class="example-small-box mat-elevation-z4 ingr" *ngFor="let ingredient of medicinalProduct?.ingredients">
                <div class="cellContainer">
                  <h4>
                    <strong> Substance Name: </strong>{{ ingredient.ingredientSubstance?.name }}
                  </h4>
                </div>
                <div class="cellContainer">
                  <h4>
                    <strong> Substance Strength: </strong>
                    {{ ingredient.quantity?.nValue }} {{ ingredient.quantity?.nDisplayName }}
                  </h4>
                  <br />
                </div>
                <div class="cellContainer">
                  <h4>
                    <strong> Substance Type: </strong>{{ ingredient.classCode }}
                  </h4>
                </div>
              </div>
            </mat-card>
          </div>
          <br />
          <div>
            <mat-card class="my-card">
              <mat-card-title class="title">
                Routes of administration:</mat-card-title>
              <div class="example-small-box mat-elevation-z4 routes" *ngFor="let route of medicinalProduct?.consumedIn?.routes">
                <div class="cellContainer">
                  <h4>
                    <strong> Route of Administration: </strong>{{ route.displayName }}
                  </h4>
                </div>
                <div class="cellContainer">
                  <h4>
                    <strong> Route Code System: </strong> {{ route.codeSystem }}
                  </h4>
                </div>
              </div>
            </mat-card>
          </div>
          <br />
          <div>
            <mat-card class="my-card">
              <mat-card-title class="title">
                Manufacturer Organization</mat-card-title>
              <h4>
                <strong> Manufacturer Name: </strong>{{ medicinalProduct?.manufacturer.manufacturerName }}
              </h4>
              <br />
              <h4>
                <strong> Manufacturer Identification Number: </strong>{{ medicinalProduct?.manufacturer.manufacturerExtention }}
              </h4>
              <br />
              <h4>
                <strong> Manufacturer manufacturer CodeSystem: </strong>
                {{ medicinalProduct?.manufacturer.manufacturerCodeSystem }}
              </h4>
              <br />
            </mat-card>
          </div>
          <br />
          <div>
            <mat-card class="my-card">
              <mat-card-title class="title"> Properties:</mat-card-title>
              <div class="mat-elevation-z4 documents" *ngFor="
                  let document of medicinalProduct?.asContent
                    ?.containerPackagedProduct?.documents
                ">
                <h4>
                  <strong> Title: </strong>
                  <p>{{ document.title }}</p>
                </h4>
                <br />
                <h4>
                  <strong> Code System: </strong>{{ document.codeSystem }}
                </h4>
                <br />
                <h4>
                  <strong> Effective Time Low: </strong>{{ document.effectiveTimeLow }}
                </h4>
                <br />
                <table>
                  <tr>
                    <th>Code</th>
                    <th>Code System</th>
                    <th>value Code System</th>
                    <th>displayName</th>
                    <th>False/True</th>
                  </tr>
                  <tr *ngFor="let characteristic of document?.characteristics">
                    <td>{{ characteristic.code }}</td>
                    <td>{{ characteristic.codeSystem }}</td>
                    <td>{{ characteristic.displayName }}</td>
                    <td>{{ characteristic.valueCodeSystem }}</td>
                    <td>
                      <mat-slide-toggle [checked]="characteristic.quantity === 'true'"></mat-slide-toggle>
                    </td>
                  </tr>
                </table>

                <br />
              </div>
            </mat-card>
            <br />
          </div>
          <br />
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Packaging and Price">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>
          <mat-card-header>
            <div class="header">
              <div class="left">
                <mat-card-title>
                  <h2>{{ medicinalProduct?.medicinalProductName }}</h2>
                </mat-card-title>
                <mat-card-subtitle>{{ medicinalProduct?.manufacturer?.manufacturerName }}
                </mat-card-subtitle>
              </div>
              <div class="right">
                <button value="validate">validate</button>
              </div>
            </div>
          </mat-card-header>
          <div>
            <mat-card>
              <mat-card-title class="title">
                Unit of presentation:</mat-card-title>
              <h5>
                <strong> Unit of presentation SAM code:</strong>
                {{ medicinalProduct?.asContent.containerPackagedProduct?.code }}
              </h5>
              <br />
              <h5>
                <strong> Unit of presentation name:</strong>
                {{ medicinalProduct?.medicinalProductName }}
              </h5>
              <br />
              <h5>
                <strong> Unit of presentation:</strong>{{ medicinalProduct?.asContent.quantity.nValue }} {{ medicinalProduct?.asContent.quantity.nDisplayName
                }}
              </h5>
            </mat-card>
          </div>
          <br />
          <div>
            <mat-card>
              <mat-card-title class="title"> Prices:</mat-card-title>
              <h5>
                <strong> System source:</strong>
                {{ (medicinalProduct?.asContent.containerPackagedProduct ?.valuedItems)[0].codeSystem }}
              </h5>
              <br />
              <div class="example-small-box mat-elevation-z4 routes" *ngFor="
                  let item of (medicinalProduct?.asContent
                    .containerPackagedProduct?.valuedItems)[0].valuedUnitItems
                ">
                <div class="cellContainer">
                  <h4>
                    <strong> Code: </strong>{{ item.code }}</h4>
                </div>
                <div class="cellContainer">
                  <h4>
                    <strong> Value: </strong> {{ item.value }} {{ item.currency }}
                  </h4>
                </div>
                <div class="cellContainer">
                  <h4>
                    <strong> Code System: </strong> {{ item.codeSystem }}</h4>
                </div>
              </div>
            </mat-card>
          </div>
          <br />
          <div>
            <mat-card>
              <mat-card-title class="title">
                Different packages:</mat-card-title>
              <div class="example-small-box mat-elevation-z4 ingr" *ngFor="
                  let contentSub of medicinalProduct?.asContent
                    ?.containerPackagedProduct?.asContentSub
                ">
                <div class="cellContainer">
                  <h4>
                    <strong> CNK Code: </strong>{{ contentSub.containerPackagedProduct?.code }}
                  </h4>
                </div>
                <div class="cellContainer">
                  <h4>
                    <strong> Name : </strong>{{ contentSub.containerPackagedProduct?.name }}
                  </h4>
                </div>
                <div class="cellContainer">
                  <h4>
                    <strong> Quantity: </strong>
                    {{ contentSub.quantity?.nValue }} {{ contentSub.quantity?.nDisplayName }}
                  </h4>
                  <br />
                </div>
                <div class="cellContainer">
                  <h4>
                    <strong> System source: </strong>{{ contentSub.containerPackagedProduct?.codeSystem }}
                  </h4>
                </div>
              </div>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Characteristics">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>
          <mat-card-header>
            <div class="header">
              <div class="left">
                <mat-card-title>
                  <h2>{{ medicinalProduct?.medicinalProductName }}</h2>
                </mat-card-title>
                <mat-card-subtitle>{{ medicinalProduct?.manufacturer?.manufacturerName }}
                </mat-card-subtitle>
              </div>
              <div class="right">
                <button value="validate">validate</button>
              </div>
            </div>
          </mat-card-header>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Characteristics </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                <div *ngFor="
                    let characteristic of medicinalProduct?.asContent
                      ?.characteristics
                  ">
                  <div class="mat-elevation-z4 char-none-bool" *ngIf="characteristic.type != 'boolean'">
                    <div class="cellContainer">
                      <h4>
                        <strong> Value </strong>: {{ characteristic.valueCode }}
                      </h4>
                    </div>
                    <div class="cellContainer">
                      <h4>
                        <strong> Type </strong>: {{ characteristic.type }}
                      </h4>
                    </div>
                    <div class="cellContainer">
                      <h4>
                        <strong> Source System: </strong>: {{ characteristic.codeSystem }}
                      </h4>
                    </div>
                    <div class="cellContainer">
                      <h4>
                        <strong> display Name: </strong>: {{ characteristic.displayName }}
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Characteristics </mat-panel-title>
                <mat-panel-description> </mat-panel-description>
              </mat-expansion-panel-header>
              <table>
                <tr>
                  <th>code</th>
                  <th>value Code</th>
                  <th>code System</th>
                  <th>Value codeSystem</th>
                  <th>displayName</th>
                  <th>type</th>
                </tr>
                <tr *ngFor="
                    let characteristic of medicinalProduct?.asContent
                      ?.characteristics
                  ">
                  <td>{{ characteristic.code }}</td>
                  <td>{{ characteristic.valueCode }}</td>
                  <td>{{ characteristic.codeSystem }}</td>
                  <td>{{ characteristic.valueCodeSystem }}</td>
                  <td>{{ characteristic.displayName }}</td>
                  <td>{{ characteristic.type }}</td>
                </tr>
              </table>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Characteristics 3 </mat-panel-title>
                <mat-panel-description>
                  Characteristics St-Luc
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li class="char-bool mat-elevation-z4" *ngFor="
                    let characteristic of medicinalProduct?.asContent
                      ?.characteristics
                  ">
                  <div class="cellContainer">
                    <h4>
                      <strong> {{ characteristic.code }} </strong>
                    </h4>
                  </div>
                  <br />
                  <div class="cellContainer">
                    <mat-radio-group>
                      <mat-radio-button class="example-margin" value="warn" [checked]="characteristic.valueCode == 'true'">
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <br />
                  <div class="cellContainer">
                    <mat-slide-toggle [checked]="characteristic.valueCode === 'true'"></mat-slide-toggle>
                  </div>
                  <br />
                  <div class="cellContainer">
                    <mat-checkbox class="example-margin" [checked]="characteristic.valueCode == 'true'"></mat-checkbox>
                  </div>
                  <br />
                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Warning">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>
          <mat-card-header>
            <div class="header">
              <div class="left">
                <mat-card-title>
                  <h2>{{ medicinalProduct?.medicinalProductName }}</h2>
                </mat-card-title>
                <mat-card-subtitle>{{ medicinalProduct?.manufacturer?.manufacturerName }}
                </mat-card-subtitle>
              </div>
              <div class="right">
                <button value="validate">validate</button>
              </div>
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Medicinal Product Rules">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>
          <mat-card-header>
            <div class="header">
              <div class="left">
                <mat-card-title>
                  <h2>{{ medicinalProduct?.medicinalProductName }}</h2>
                </mat-card-title>
                <mat-card-subtitle>{{ medicinalProduct?.manufacturer?.manufacturerName }}
                </mat-card-subtitle>
              </div>
              <div class="right">
                <button value="validate">validate</button>
              </div>
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>