<div class="container">
  <app-navbar title="Table List"></app-navbar>
  <h3>Medicinal Product Details</h3>
  <mat-tab-group color="primary" backgroundColor="primary">
    <mat-tab label="Medicament info">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              <h2>General information:</h2>
            </mat-card-title>
            <mat-card-subtitle>{{medicinalProduct.medicinalProductName}}</mat-card-subtitle>
          </mat-card-header>
          <div>
            <mat-card>
              <table>
                <tr>
                  <th> Medicament Code</th>
                  <th> Medicament Name</th>
                  <th> Medicament form</th>
                  <th> marketed</th>
                </tr>
                <tr>
                  <td> {{medicinalProduct.code}}</td>
                  <td> {{medicinalProduct.medicinalProductName}}</td>
                  <td> Solution injectable</td>
                  <td> true</td>
                </tr>
              </table>
            </mat-card>
          </div>
          <div>
            <h2>Manufacturer Organization:</h2>
            <mat-card>
              <div>
                <table>
                  <tr>
                    <th> Manufacturer manufacturerCodeSystem</th>
                    <th> Manufacturer Name</th>
                    <th> Manufacturer extension</th>
                  </tr>
                  <tr>
                    <td> {{medicinalProduct.manufacturer.manufacturerCodeSystem}}</td>
                    <td> {{medicinalProduct.manufacturer.manufacturerName}} </td>
                    <td> {{medicinalProduct.manufacturer.manufacturerExtension}} </td>
                  </tr>
                </table>
              </div>
            </mat-card>
          </div>
          <div>
            <h2>Ingredients:</h2>
            <mat-card>
              <table>
                <tr>
                  <th>ingredient Code</th>
                  <th>Name</th>
                  <th>Quantity </th>
                  <th>Description</th>
                  <th>Equivalent</th>
                </tr>
                <tr *ngFor="let ingredient of medicinalProduct.ingredients">
                  <td>{{ingredient.classCode}}</td>
                  <td>{{ingredient.ingredientSubstance.name}}</td>
                  <td>
                    {{ingredient.quantity.nValue}}
                    X
                    {{ingredient.quantity.nUnit}}
                    {{ingredient.quantity.nDisplayName}}
                  </td>
                </tr>
              </table>
            </mat-card>
          </div>
          <div>
            <h2>Routes of administration:</h2>
            <mat-card>
              <table>
                <tr>
                  <th> route Code</th>
                  <th>Name</th>
                </tr>
                <tr *ngFor="let route of medicinalProduct.consumedIn.routes">
                  <td>{{route.codeSystem}}</td>
                  <td>{{route.displayName}}</td>
                </tr>
              </table>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Packaging and Price">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              <h2> AZANTAC</h2>
            </mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <div>
            <h2> Packaging:</h2>
            <mat-card>
              <table>
                <tr>
                  <th>Package Code</th>
                  <th>Name </th>
                  <th>Quantity</th>
                </tr>
                <tr>
                  <td>8805</td>
                  <td>Zyprexa compr. enr. 5 mg</td>
                  <td>4 Plaquette</td>
                </tr>
              </table>
            </mat-card>
          </div>
          <div>
            <h2> Pricing:</h2>
            <mat-card>
              <table>
                <tr>
                  <th> Code </th>
                  <th> Value </th>
                  <th> Price</th>
                </tr>
                <tr>
                  <td> TTC</td>
                  <td> 5,29</td>
                  <td> EUR</td>
                </tr>
                <tr>
                  <td> FAB</td>
                  <td> 3,42</td>
                  <td> EUR</td>
                </tr>
                <tr>
                  <td> PEC</td>
                  <td> 15</td>
                  <td></td>
                </tr>
              </table>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Characteristics">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Characteristics 1
                </mat-panel-title>
                <mat-panel-description>
                  Packaging Characteristics
                </mat-panel-description>
              </mat-expansion-panel-header>

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Characteristics 2
                </mat-panel-title>
                <mat-panel-description>
                  Characteristics
                </mat-panel-description>
              </mat-expansion-panel-header>

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Characteristics 3
                </mat-panel-title>
                <mat-panel-description>
                  Characteristics St-Luc
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul>
                <li *ngFor="let characteristic of medicinalProduct.asContent.characteristics">

                  <label class="example-margin"> {{characteristic.code}}</label>
                  <mat-radio-group>
                    <mat-radio-button class="example-margin" value="warn" [checked]="characteristic.valueCode =='true'">
                    </mat-radio-button>
                    <mat-slide-toggle [checked]="characteristic.valueCode ==='true'"></mat-slide-toggle>
                    <mat-checkbox class="example-margin" [checked]="characteristic.valueCode =='true'"></mat-checkbox>
                  </mat-radio-group>

                </li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Warning">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>

        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Medicament rules">
      <div class="example-large-box mat-elevation-z4">
        <mat-card>

        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>