<div class="content">
  <app-navbar title=""></app-navbar>
  <div class="details-header">
    <mat-toolbar>
      <a [ngx-scroll-to]="'#mp-infos'">Go to destination</a>
      <a [ngx-scroll-to]="'#mp-packges-prices'">Go to destination</a>
    </mat-toolbar>
  </div>
  <div>
    <div class="">
      <div id="mp-infos" class="example-large-box mat-elevation-z4">
        <mat-card class="mat-card.scrollable-content">
          <mat-card-header>
            <div class="header">
              <div class="left">
                <mat-card-title>
                  <h2>{{ medicinalProduct?.medicinalProductName }}</h2>
                </mat-card-title>
                <mat-card-subtitle>{{ medicinalProduct?.manufacturer?.manufacturerName }} </mat-card-subtitle>
              </div>
              <div class="right">
                <button value="validate">validate</button>
              </div>
            </div>
          </mat-card-header>
          <div class="infos">
            <mat-card class="my-card">
              <mat-card-title class="container content title"> Medicinal Product informations</mat-card-title>
             <div>
                <section class="container content">
                    <div class="row">
                      <mat-card class="col-md-4">
                        <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                          <div *ngIf="characteristic.type == 'boolean'">
                            <div *ngIf="characteristic.code == 'IS_FORMULARY'">
                              <section>
                                <div class="row">
                                  <div class="col-xs-6"> Is Formulary:</div>
                                  <div class="col-xs-6">
                                    <mat-radio-group>
                                      <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                      </mat-radio-button>
                                    </mat-radio-group>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                      <mat-card class="col-md-4">
                        <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                          <div *ngIf="characteristic.type == 'boolean'">
                            <div *ngIf="characteristic.code == 'IN_USE'">
                              <section>
                                <div class="row">
                                  <div class="col-xs-6">In Use: </div>
                                  <div class="col-xs-6">
                                    <mat-radio-group>
                                      <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                      </mat-radio-button>
                                    </mat-radio-group>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                      <mat-card class="col-md-4">
                        <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                          <div *ngIf="characteristic.type == 'boolean'">
                            <div *ngIf="characteristic.code == 'IN_USE'">
                              <section>
                                <div class="row">
                                  <div class="col-xs-6">Is Validated: </div>
                                  <div class="col-xs-6">
                                    <mat-radio-group>
                                      <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                      </mat-radio-button>
                                    </mat-radio-group>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </mat-card>
                    </div>
                  </section>
              <section class="container content ingr">
                <div class="row">
                  <div class="col-md-2"> Item Name:</div>
                  <div class="col-md-10">
                    <strong> {{ medicinalProduct?.medicinalProductName }}</strong>
                  </div>
                </div>
              </section>
              <section class="container content ingr">
                <div class="row">
                  <div class="col-md-6">
                    <section>
                      <div class="row">
                        <div class="col-xs-4"> Infohos Item Code: </div>
                        <div class="col-xs-6">
                          <strong> {{ medicinalProduct?.code }}</strong>
                        </div>
                      </div>
                    </section>
                  </div>
                  <div class="col-md-6">
                    <section>
                      <div class="row">
                        <div class="col-xs-4"> System source: </div>
                        <div class="col-xs-6">
                          <strong> {{ medicinalProduct?.codeSystem }}</strong>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </section>
              <section class="container content routes">
                  <section class="container content routes">
                      <div class="row">
                        <div class="col-md-2"> SAM Name:</div>
                        <div class="col-md-10">
                          <strong> {{ medicinalProduct?.asContent.containerPackagedProduct?.name }}</strong>
                        </div>
                      </div>
                    </section>
                <div class="row">
                    <div class="col-md-6">
                        <section>
                          <div class="col-xs-4">
                            SAM Code:
                          </div>
                          <div class="col-xs-6">
                            <strong> {{ medicinalProduct?.asContent.containerPackagedProduct?.code }}</strong>
                          </div>
                        </section>
                      </div>
                  <div class="col-md-6">
                    <section>
                      <div class="col-xs-4">
                        System Source:
                      </div>
                      <div class="col-xs-4">
                        <strong> {{ medicinalProduct?.asContent.containerPackagedProduct?.codeSystem }} </strong>
                      </div>
                    </section>
                  </div>
                </div>
              </section>
              <section class="container content ingr">
                <div class="row">
                  <div class="col-md-2">
                    {{ medicinalProduct?.marketingAct.code }}:
                  </div>
                  <div>
                    <strong>{{ medicinalProduct?.marketingAct.statusCode }} </strong>
                  </div>
                </div>
              </section>
              <section class="container content ingr">
                <div class="row">
                  <div class="col-md-4" class="col-md-2" *ngIf=" medicinalProduct?.marketingAct.effectiveTimeLow != null ">
                    <div class="col-xs-4">
                      From:
                    </div>
                    <div class="col-xs-4">
                      <strong>{{ medicinalProduct?.marketingAct.effectiveTimeLow }}</strong>
                    </div>
                  </div>
                  <div class="col-md-4" *ngIf=" medicinalProduct?.marketingAct.effectiveTimeHeigh != null">
                    <div class="col-xs-4">
                      To:
                    </div>
                    <div class="col-xs-4">
                      <strong>{{ medicinalProduct?.marketingAct.effectiveTimeHeigh }}</strong>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <section>
                      <div class="col-xs-4">
                        System Source:
                      </div>
                      <div class="col-xs-6">
                        <strong> {{ medicinalProduct?.marketingAct.codeSystem }} </strong>
                      </div>
                    </section>
                  </div>
                </div>
              </section>
              <br />
            <section class="container content">
              <div class="row">
                <div class="col-md-4">
                  <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                    <div *ngIf="characteristic.type == 'boolean'">
                      <div *ngIf="characteristic.code == 'IS_FORFAIT'">
                        <section>
                          <div class="row">
                            <div class="col-xs-6">
                                Is Forfait:
                            </div>
                            <div class="col-xs-6">
                                <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                    <div *ngIf="characteristic.type == 'boolean'">
                      <div *ngIf="characteristic.code == 'ATTESTATION_REQUIRED'">
                       <section>
                         <div class="row">
                            <div class="col-xs-6">
                                Attestation Required:
                            </div>
                            <div class="col-xs-6">
                                <mat-radio-group>
                                    <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                    </mat-radio-button>
                                  </mat-radio-group>
                            </div>
                         </div>
                       </section>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                    <div *ngIf="characteristic.type == 'boolean'">
                      <div *ngIf="characteristic.code == 'PRESCRIPTION_REQUIRED'">
                       <section>
                         <div class="row">
                          <div class="col-xs-6">
                              Prescription Required:
                          </div>
                          <div class="col-xs-6">
                              <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                          </div>
                         </div>
                       </section>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <br />
            <section class="container content">
              <div class="row">
                <div class="col-md-6">
                    <div class="" *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                        <div class="row">
                            <section *ngIf="characteristic.type == 'hyperlink'">
                                <div *ngIf="characteristic.code == 'URL_SCIENTIFIC_LEAFLET'">
                                    Url Scientific Learlet: <a href="#"> {{ characteristic.valueCode }}</a>
                                </div>
                              </section>
                        </div>
                      </div>
                    </div>
                <div class="col-md-6">
                    <div class="" *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                        <div class="row">
                            <section *ngIf="characteristic.type == 'hyperlink'">
                                <div  *ngIf="characteristic.code == 'URL_PUBLIC_LEAFLET'">
                                    Url Publick Leaflet: <a href="#"> {{ characteristic.valueCode }}</a>
                                </div>
                              </section>
                        </div>
                      </div>
                    </div>
              </div>
            </section>
             </div>       
            </mat-card>
          </div>
          <br />
          <div class="classifications">
            <mat-card class="my-card">
              <mat-card-title class="container content title"> Medicinal Product Classifications </mat-card-title>
              <section class="container content" *ngFor=" let kind of medicinalProduct?.asContent ?.containerPackagedProduct?.asSpecializedKinds ">
                <div *ngIf="kind.code == 'ATC'">
                  <section class="content container ingr">
                    <div class="row">
                      <h4> ATC Name:
                        <strong>{{ kind.generalizedMaterialKind.displayName }} </strong>
                      </h4>
                    </div>
                  </section>
                  <section class="content container ingr">
                    <div class="cellContainer">
                      <h4> ATC Code:
                        <strong>{{ kind.generalizedMaterialKind.code }} </strong>
                      </h4>
                    </div>
                    <div class="cellContainer">
                      <h4> System source:
                        <strong>{{ kind.generalizedMaterialKind.codeSystem }} </strong>
                      </h4>
                    </div>
                  </section>
                </div>
                <div *ngIf="kind.code == '1'">
                  <section class="container content ingr">
                    <div class="row">
                      <h4> DC Name:
                        <strong> {{ kind.generalizedMaterialKind.displayName }} </strong>
                      </h4>
                    </div>
                  </section>
                  <section class="container content ingr">
                    <div class="cellContainer">
                      <h4> DC Code:
                        <strong>{{ kind.generalizedMaterialKind.code }} </strong>
                      </h4>
                    </div>
                    <div class="cellContainer">
                      <h4> System source:
                        <strong>{{ kind.generalizedMaterialKind.codeSystem }} </strong>
                      </h4>
                    </div>

                  </section>
                </div>
                <div *ngIf="kind.code == '4'">
                  <section class=" container content ingr">
                    <div class="row">
                      <h4> ISO IDMP L4 Name:
                        <strong>{{ kind.generalizedMaterialKind.displayName }} </strong>
                      </h4>
                    </div>
                  </section>
                  <section class=" container content ingr">
                    <div class="cellContainer">
                      <h4> ISO IDMP L4 Code:
                        <strong>{{ kind.generalizedMaterialKind.code }} </strong>
                      </h4>
                    </div>

                    <div class="cellContainer">
                      <h4> System source:
                        <strong> {{ kind.generalizedMaterialKind.codeSystem }} </strong>
                      </h4>
                    </div>
                  </section>
                </div>
              </section>
            </mat-card>
          </div>
          <br />
          <div class="ingredients">
            <mat-card class="my-card">
              <mat-card-title class="container content title"> Active ingredients:</mat-card-title>
              <section class="container content ingr" *ngFor="let ingredient of medicinalProduct?.ingredients">
                <div class="row">
                    <div class="col-md-4">
                        Name:
                          <strong>{{ ingredient.ingredientSubstance?.name }}</strong>
                      </div>
                      <div class="col-md-4">
                        Strength:
                          <strong> {{ ingredient.quantity?.nValue }} {{ ingredient.quantity?.nDisplayName }} </strong>
                      </div>
                      <div class="col-md-4">
                        System source:
                          <strong> {{ ingredient.codeSystem }} </strong>
                      </div>
                </div>
              </section>
            </mat-card>
          </div>
          <br />
          <div class="routes">
            <mat-card class="my-card">
              <mat-card-title class=" container content title"> Routes of administration:</mat-card-title>
              <section class="container content" *ngFor="let route of medicinalProduct?.consumedIn?.routes">
                <div class="row">
                    <section class="container content ingr">
                        <div class="col-md-6">
                            Route:
                              <strong> {{ route.displayName }} </strong>
                          </div>
                          <div class="col-md-6">
                            System source:
                              <strong> {{ route.codeSystem }}</strong>
                          </div>
                    </section>
                </div>
              </section>
            </mat-card>
          </div>
          <br />
          <div class="units">
            <mat-card>
              <mat-card-title class="container content title"> Units:</mat-card-title>
              <br />
              <section class="container content">
                  <h5> Unit of presentation:
                      <strong> {{ medicinalProduct?.asContent.quantity.nValue }} {{ medicinalProduct?.asContent.quantity.nDisplayName }}
                      </strong>
                  </h5>
                    <mat-card>
                      <section *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                        <div class="row" *ngIf="characteristic.type == 'CD'">
                          <section class="container content" *ngIf="characteristic.code == 'PRESCRIPTION_UNIT'">
                            <div class="row">
                                <section class="container content ingr">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <h4> Prescription Unit:
                                            <strong>{{ characteristic.displayName }} </strong>
                                          </h4>
                                        </div>
                                        <div class="col-md-6">
                                          <h4> Source System:
                                            <strong>{{ characteristic.valueCodeSystem }} </strong>
                                          </h4>
                                        </div>
                                  </div>
                                </section>
                            </div>
                          </section>
                          <br>
                          <section class="container content" *ngIf="characteristic.code == 'DISPENSATION_UNIT'">
                            <div class="row">
                                <section class="container content ingr">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <h4> Dispensation Unit:
                                            <strong>{{ characteristic.displayName }} </strong>
                                          </h4>
                                        </div>
                                        <div class="col-md-6">
                                          <h4> Source System:
                                            <strong>{{ characteristic.valueCodeSystem }} </strong>
                                          </h4>
                                        </div>
                                  </div>
                                </section>
                            </div>
                          </section>
                          <br>
                          <section class="container content" *ngIf="characteristic.code == 'ADMINISTRATION_UNIT'">
                            <div class="row">
                                <section class="container content ingr">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <h4> Administration Unit:
                                            <strong>{{ characteristic.displayName }} </strong>
                                          </h4>
                                        </div>
                                        <div class="col-md-6">
                                          <h4> Source System:
                                            <strong>{{ characteristic.valueCodeSystem }} </strong>
                                          </h4>
                                        </div>
                                  </div>
                                </section>
                            </div>
                          </section>
                        </div>
                      </section>
                    </mat-card>
                    <br />
                    <mat-card>
                      <mat-header>
                        <mat-title class="title"> SAM unit of presentation </mat-title>
                      </mat-header>
                      <section *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                        <div class="row" *ngIf="characteristic.type == 'CD'">
                          <section class="container content" *ngIf="characteristic.code == 'BILLING_UNIT'">
                            <div class="row">
                                <section class="container content ingr">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <h4> Billing Unit:
                                            <strong>{{ characteristic.displayName }} </strong>
                                          </h4>
                                        </div>
                                        <div class="col-md-6">
                                          <h4> Source System:
                                            <strong> {{ characteristic.valueCodeSystem }} </strong>
                                          </h4>
                                        </div>
                                  </div>
                                </section>
                            </div>
                          </section>
                          <section class="container content" *ngIf="characteristic.code == 'PRESENTATION'">
                            <div class="row">
                               <section class="container content ingr">
                                 <div class="row">
                                    <div class="col-md-6">
                                        <h4> Presentation Unit:
                                          <strong> {{ characteristic.displayName }} </strong>
                                        </h4>
                                      </div>
                                      <div class="col-md-6">
                                        <h4> Source System:
                                          <strong> {{ characteristic.valueCodeSystem }} </strong>
                                        </h4>
                                      </div>
                                 </div>
                               </section>
                            </div>
                          </section>
                        </div>
                      </section>
                    </mat-card>
              </section>
            </mat-card>
          </div>
          <br />
          <div class="prices">
            <mat-card>
              <mat-card-title class="container content title"> Prices:</mat-card-title>
              <section class="container content">
                    <h5> System source:
                      <strong> {{ (medicinalProduct?.asContent.containerPackagedProduct ?.valuedItems)[0].codeSystem }} </strong>
                    </h5>
                    <br />
                    <div class="example-small-box mat-elevation-z4 row routes">
                      <div class="col-md-4" *ngFor=" let item of (medicinalProduct?.asContent .containerPackagedProduct?.valuedItems)[0].valuedUnitItems ">
                        <h4> {{ item.code }}:
                          <strong>{{ item.value }} {{ item.currency }} </strong>
                        </h4>
                      </div>
                    </div>
              </section>
            </mat-card>
          </div>
          <br />
          <div class="packages">
            <mat-card>
              <mat-card-title class="container content title"> Packages:</mat-card-title>
              <mat-card class="container content" *ngFor=" let contentSub of medicinalProduct?.asContent ?.containerPackagedProduct?.asContentSub ">
                <div class="row">
                  <div class="col-md-12">
                    <h4>
                      <strong> Name : </strong>{{ contentSub.containerPackagedProduct?.name }} </h4>
                  </div>
                </div>
               <section class="container content ingr">
                  <div class="row">
                      <div class="col-md-4">
                        <section class="container content">
                          <div class="row">
                              <div class="col-md-6">
                                  CNK Code:
                                </div>
                                <div class="col-md-6">
                                  <strong> {{ contentSub.containerPackagedProduct?.code }} </strong>
                                </div>
                          </div>
                        </section>
                      </div>
                      <div class="col-md-4">
                        <section class="container content">
                          <div class="row">
                              <div class="col-xs-4">
                                  Quantity:
                                </div>
                                <div class="col-xs-8">
                                  <strong> {{ contentSub.quantity?.nValue }} {{ contentSub.quantity?.nDisplayName }} </strong>
                                </div>
                          </div>
                        </section>
                      </div>
                      <div class="col-md-4">
                        <section class="container content">
                          <div class="row">
                              <div class="col-md-6"> System source: </div>
                              <div class="col-md-6" >
                                <strong> {{ contentSub.containerPackagedProduct?.codeSystem }} </strong>
                              </div>
                          </div>
                        </section>
                      </div>
                    </div>
               </section>
              </mat-card>
            </mat-card>
          </div>
          <br />
          <div class="properties">
            <mat-card class="my-card">
              <mat-card-title class="container content title"> Inami attestations:</mat-card-title>
              <section class="container content" *ngFor=" let document of medicinalProduct?.asContent ?.containerPackagedProduct?.documents ">
                <mat-card>
                  <div>
                    <h4> Title:
                      <p>
                        <strong>{{ document.title }}</strong>
                      </p>
                    </h4>
                    <br />
                    <h4> System Source:
                      <strong>{{ document.codeSystem }}</strong>
                    </h4>
                    <br />
                    <h4> Effective From:
                      <strong>{{ document.effectiveTimeLow }} </strong>
                    </h4>
                    <br /> </div>
                 <section class="container content ingr">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Is valide for:</h4>
                        </div>
                        <div class="col-md-3">
                            <div  *ngFor="let characteristic of document?.characteristics">
                                <div *ngIf=" characteristic?.valueCode == 'EXT'">
                                    <div>
                                        <strong>{{ characteristic.displayName }}:</strong>
                                        <mat-radio-group>
                                          <mat-radio-button class="example-margin" value="warn" [checked]="characteristic.quantity == 'true'">
                                          </mat-radio-button>
                                        </mat-radio-group>
                                      </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-3">
                            <div  *ngFor="let characteristic of document?.characteristics">
                                <div *ngIf=" characteristic?.valueCode == 'O'">
                                    <div>
                                        <strong>{{ characteristic.displayName }}:</strong>
                                        <mat-radio-group>
                                          <mat-radio-button class="example-margin" value="warn" [checked]="characteristic.quantity == 'true'">
                                          </mat-radio-button>
                                        </mat-radio-group>
                                      </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-3">
                            <div  *ngFor="let characteristic of document?.characteristics">
                                <div *ngIf=" characteristic?.valueCode == 'I'">
                                    <div>
                                        <strong>{{ characteristic.displayName }}:</strong>
                                        <mat-radio-group>
                                          <mat-radio-button class="example-margin" value="warn" [checked]="characteristic.quantity == 'true'">
                                          </mat-radio-button>
                                        </mat-radio-group>
                                      </div>
                                </div>
                              </div>
                        </div>
                            
                    </div>
                 </section>
                 <section class="container content ingr">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Paragraph info:</h4>
                        </div>
                        <div class="col-md-3">
                            <div  *ngFor="let characteristic of document?.characteristics">
                                <div *ngIf=" characteristic?.code == 'TEXT_ID'">
                                    <div>
                                        <strong>Text Id:
                                        {{ characteristic.valueCode }}</strong>
                                      </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-3">
                            <div  *ngFor="let characteristic of document?.characteristics">
                                <div *ngIf=" characteristic?.code == 'PARAGRAPH'">
                                    <div>
                                        <strong>
                                        Paragraph:
                                        {{ characteristic.valueCode }}</strong>
                                      </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-md-3">
                            <div  *ngFor="let characteristic of document?.characteristics">
                                <div *ngIf=" characteristic?.code == 'CATEGORY'">
                                    <div>
                                        <strong>
                                        Category:
                                        {{ characteristic.valueCode }}</strong>
                                      </div>
                                </div>
                              </div>
                        </div>
                            
                    </div>
                 </section>
                </mat-card>
                <br> 
              </section>
            </mat-card>
          </div>
          <br />
          <div class="snt-char">
            <mat-card>
              <mat-card-title class="container content title"> Saint-luc Characteristics:</mat-card-title>
              <mat-card class="container content">
                <section *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                  <ul *ngIf="characteristic.type == 'CD'">
                    <li class="row example-small-box mat-elevation-z4 ingr" *ngIf="characteristic.code == 'FORME_ADMINISTRATION'">
                      <h4 class="col-md-6"> Forme Administration:
                        <strong>{{ characteristic.displayName }}</strong>
                      </h4>
                      <h4 class="col-md-6"> System Source:
                        <strong>{{ characteristic.valueCodeSystem }}</strong>
                      </h4>
                    </li>
                    <li class="row example-small-box mat-elevation-z4 ingr" *ngIf="characteristic.code == 'CONSERVATION'">
                      <h4 class="col-md-6"> Conservation:
                        <strong>{{ characteristic.displayName }}</strong>
                      </h4>
                      <h4 class="col-md-6"> System Source:
                        <strong>{{ characteristic.valueCodeSystem }}</strong>
                      </h4>
                    </li>
                  </ul>
                </section>
              </mat-card>
              <br/>
              <section class="container content">
                <div class="row">
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'IS_SPECIALITY'">
                          <div class="row">
                            <div class="col-xs-6"> Is Formulary:</div>
                            <div class="col-xs-6">
                              <mat-radio-group>
                                <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'IS_NARCOTIC'">
                          <div class="row">
                            <div class="col-xs-6">Is Speciality: </div>
                            <div class="col-xs-6">
                              <mat-radio-group>
                                <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'IS_SOLUBLE'">
                          <section>
                            <div class="row">
                              <div class="col-xs-6"> Is Soluble:</div>
                              <div class="col-xs-6">
                                <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'IS_PERFUSION'">
                          <section>
                            <div class="row">
                              <div class="col-xs-6">
                                Is Perfusion:
                              </div>
                              <div class="col-xs-6">
                                <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'IS_WATER_SCALE'">
                          <section>
                            <div class="row">
                              <div class="col-xs-6"> Is water Scale:</div>
                              <div class="col-xs-6">
                                <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'IS_PARTITIONABLE'">
                          <section>
                            <div class="row">
                              <div class="col-xs-6">Is Partitionable: </div>
                              <div class="col-xs-6">
                                <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'IS_TRACEABLE'">
                          <section>
                            <div class="row">
                              <div class="col-xs-6">Is Traceable: </div>
                              <div class="col-xs-6">
                                <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'EXT_MED_MGT'">
                          <section>
                            <div class="row">
                              <div class="col-xs-6">Ext Med Mgt: </div>
                              <div class="col-xs-6">
                                <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-4">
                    <div *ngFor=" let characteristic of medicinalProduct?.asContent ?.characteristics ">
                      <div *ngIf="characteristic.type == 'boolean'">
                        <div *ngIf="characteristic.code == 'IS_FOREIGN'">
                          <section>
                            <div class="row">
                              <div class="col-xs-6">Is Foreign:</div>
                              <div class="col-xs-6">
                                <mat-radio-group>
                                  <mat-radio-button value="warn" [checked]="characteristic.valueCode == 'true'">
                                  </mat-radio-button>
                                </mat-radio-group>
                              </div>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </section>
            </mat-card>
          </div>
          <br />
          <div class="manufacturer">
            <mat-card class="my-card">
              <mat-card-title class="container content title"> Manufacturer Organization</mat-card-title>
              <div class="container content">
                <div class="row example-small-box mat-elevation-z4 ingr">
                  <h4 class="col-md-4"> Name:
                    <strong>{{ medicinalProduct?.manufacturer.manufacturerName }} </strong>
                  </h4>
                  <h4 class="col-md-4"> Identification Number:
                    <strong> {{ medicinalProduct?.manufacturer.manufacturerExtention }} </strong>
                  </h4>
                  <h4 class="col-md-4"> System source:
                    <strong> {{ medicinalProduct?.manufacturer.manufacturerCodeSystem }} </strong>
                  </h4>
                </div>
                <br /> </div>
              <br /> </mat-card>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>