

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.title{
  color: blue;
}

.example-small-box {
  height: 100px;
  width: 100%;
  display: flex;
  margin: 16px;
  padding: 16px;
  padding-top: 40px;
  border-radius: 8px;
}

.char-bool{
  height: 50px;
  width: 100%;
  display: flex;
  margin: 6px;
  padding: 6px;
  padding-top: 6px;
  border-radius: 8px;
}

.routes {
  background-color:	#cad1d6;
}

.ingr {
  background-color:	#a2f2ec;
}

.cellContainer {
  width: 600px;
  float: left;
}

.documents {
  height: 400px;
  width: 100%;
  margin: 16px;
  padding: 16px;
  padding-top: 40px;
  border-radius: 8px;
  background-color:	#cadee2;
}