<div class="container">
  <app-navbar title="Wizard"></app-navbar>
  <h3>Name: Zyprexa 5 mg</h3>
  <mat-vertical-stepper>
    <mat-step label="SPL data">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="effective time" value="20180912110049">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="language code" value="fr-FR">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Version number" value="20180912110049">
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step label="Author">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="name" value="KT">
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step label="abstract medicament Data">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="root" value="1.2.250.1.218.1.1.205">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="extension" value="SP">
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step label="Manifactured medicament">
      <mat-horizontal-stepper>
        <mat-step label="Manifactured medicament">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="effective time" value="20180912110049">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="language code" value="fr-FR">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Version number" value="20180912110049">
            </mat-form-field>
          </form>c
        </mat-step>
        <mat-step label="ingredients">
          <table>
            <tr>
              <th>ingredient Code</th>
              <th>Quantity </th>
              <th>Name</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>ACTIB</td>
              <td>5 mg</td>
              <td>Olanzapine</td>
              <td>DCI</td>
            </tr>
          </table>
        </mat-step>
        <mat-step label="Package">
          <table>
            <tr>
              <th>Package Code</th>
              <th>Name </th>
              <th>Quantity</th>
            </tr>
            <tr>
              <td>SAM178805-00</td>
              <td>Zyprexa compr. enr. 5 mg</td>
              <td>4 Plaquette</td>
            </tr>
          </table>
        </mat-step>
        <mat-step label="manufacturer">
          <table>
            <tr>
              <th>Manifacturer Code</th>
              <th>Name </th>
            </tr>
            <tr>
              <td>SAM178805-00</td>
              <td>Zyprexa compr. enr. 5 mg</td>
            </tr>
          </table>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-step>
  </mat-vertical-stepper>
</div>