<div class="container">
  <app-navbar title="Wizard"></app-navbar>
  <mat-vertical-stepper>
    <mat-step label="SPL data">
      Spl File data
    </mat-step>
    <mat-step label="abstract medicament Data">
      here is the abstract medicament data-form
    </mat-step>
    <mat-step label="Author">
      Author data-form
    </mat-step>
    <mat-step label="Manifactured medicament">
      <mat-horizontal-stepper>
        <mat-step label="Manifactured medicament">
          here is the abstract medicament data-form
        </mat-step>
        <mat-step label="ingredients">
          manifictured medicament ingredients data-form
        </mat-step>
        <mat-step label="Package">
          manifictured medicament packaging data-form
        </mat-step>
        <mat-step label="manufacturer">
          medicament manufacturer data-form
        </mat-step>
      </mat-horizontal-stepper>
    </mat-step>
  </mat-vertical-stepper>
</div>